.back_button {
  cursor: pointer;
  user-select: none;
}

textarea {
  background-color: #1e1e31 !important;
  color: #cccccc !important;
}

.submit {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #009900;
  cursor: pointer;
}
